#navbarText {
    font-family: quicksand;
}
.pic{
    /* border: 1px solid black; */
    height: 500px;
    background-color: none;
    text-align: center;
  
}

.contact {
    height: 500px;
    background-color: lightgray;
    opacity: 0.7;
    border: 1px solid black;
    text-align: center;
    font-family: quicksand; 
}


body {
    margin: auto;
    background-image: url("../../images/sand.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    margin-top: 50px;
}

footer {
    background: #666666;
    padding: 25px; 
    color: white;  
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;;
    color: white;
    text-align: center;
    border-top: 5px solid #4aaaa5;  
     
}
